body {
   font-family: 'Rubik';
   font-size: 12px;
   color: #616161;
}

.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
   position: relative;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1082px;
   margin: 0 auto;
   padding: 0 15px;
}

.button {
   color: #FCFDFE;
   font-family: Raleway;
   font-size: 10px;
   font-weight: 800;
   line-height: 1.2;
   letter-spacing: 1.4px;
   text-transform: uppercase;
   border-radius: 5px;
   background-color: #EC5863;
   padding: 14px 30px;
   transition: background-color 0.3s ease 0s;
}

.button:hover {
   background-color: #b21e28;
}


/* ========================HEADER================================ */
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 50px;
}

.header__container {
   display: flex;
   align-items: center;
   min-height: 116px;
   position: relative;
   z-index: 3;
}

.header__logo {
   position: relative;
   z-index: 5;
}

.menu {
   flex: 1 1 auto;
   display: flex;
   justify-content: flex-end;
}

.menu__list {
   display: flex;
}

.menu__item {
   padding-right: 40px;
}

.menu__link {
   color: #000;
   font-family: "Raleway";
   font-size: 10px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 1.4px;
   text-transform: uppercase;
   position: relative;
}

.menu__link:hover::before {
   content: '';
   position: absolute;
   background: #4285F4;
   width: 100%;
   height: 2px;
   bottom: -6px;
}

.header__button {
   flex: 0 0 250px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
   z-index: 5;
}

.button-blue {
   background-color: #4285F4;
   padding: 12px 31px;
   transition: background-color 0.3s ease 0s;
}

.button-blue:hover {
   background-color: #114291;
}

.icon-menu {
   display: none;
}

@media(max-width:1082px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

@media(max-width:991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }

   .header__button {
      flex: 0 0 170px;
   }

   .menu__item {
      padding-right: 30px;
   }

   .header__container {
      min-height: 80px;
   }
}

@media(max-width:767.98px) {
   [class*="__container"] {
      max-width: none;
   }

   .icon-menu {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 0 0 30px;
      height: 18px;
      justify-content: space-between;
      margin-left: 20px;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: '';
      background: #000;
      height: 2px;
   }

   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 90px 15px 30px 15px;
      transition: left 0.3s ease 0s;
   }

   .menu__body:target {
      left: 0;
   }

   .menu__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .menu__link {
      font-size: 20px;
   }

   .menu__item:not(:last-child) {
      margin-bottom: 25px;
   }
}

@media(max-width:479.98px) {
   .header__logo {
      flex: 0 0 40px;
      overflow: hidden;
   }
}

/* ==================== BLOCK-TEXT ============================= */
.block-text {}

.block-text__title {
   font-size: 44px;
   font-weight: 700;
   line-height: 126%;
   color: #000;
   margin-bottom: 12px;
}


.block-text__text {
   line-height: 138.5%;
   letter-spacing: 0.96px;
   color: #616161;
   max-width: 363px;
   
}

.block-text__text:not(:last-child){
margin-bottom: 24px;
}

.block-text__title span {
   color: #EC5863;
}

.block-text__title--blue span {
   color: #4285F4;
}

/* =================== HERO ======================= */
.hero {
   background: #FAFBFD;
}

.hero__container {
   padding: 160px 15px 50px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   position: relative;
}

.hero__container::after {
   content: "";
   position: absolute;
   width: 100vw;
   height: 100%;
   top: 0;
   left: 75%;
   background-color: #EC5863;
   border-radius: 30px 0 0 30px;
}

.hero__content {
   flex: 0 1 48%;
   position: relative;
   z-index: 3;
   padding: 0px 20px;
}

.hero__block {
   max-width: 410px;
}

.hero__img {
   position: relative;
   z-index: 3;
   flex: 0 1 52%;
}

.hero__img img {
   max-width: 100%;
}

.hero__video {
   flex: 1 1 100%;
   padding: 66px 15px 20px;
}

.video-hero {
   display: inline-flex;
   align-items: center;
   gap: 12px;
}

.body-video-hero__title {
   font-size: 13px;
   color: #B0B0B0;
   line-height: 126%;
   letter-spacing: 1.04px;
   margin-bottom: 5px;
}

.body-video-hero__text {
   font-size: 9px;
   line-height: 126%;
   letter-spacing: 1.485px;
   text-transform: uppercase;
   color: #000;
}

@media(max-width:767.98px) {
   .hero__container {
      padding: 100px 0 40px;
   }

   .hero__container::after {
      display: none;
   }

   .hero__img {
      flex: 1 1 100%;
      text-align: center;
      padding: 30px 15px;
   }

   .hero__block {
      max-width: none;
   }

   .hero__content {
      flex: 1 1 100%;
   }

   .block-text__title {
      font-size: 34px;
   }

   .hero__video {
      padding: 0 15px;
   }
}

/* =======================STAY-SAFE=============================== */
.stay-safe {}

.stay-safe__container {
   display: flex;
   padding: 80px 0px;
   align-items: center;
}

.stay-safe__media {
   flex: 0 1 50%;
   padding-left: 20px;
}

.media-stay-safe__wrapper {
   max-width: 373px;
   text-align: center;
   padding: 56px 0 27px;
   position: relative;
}

.media-stay-safe__img img {
   position: relative;
   z-index: 5;
   max-width: 100%;
}

.media-stay-safe__img {
   display: inline-block;
   box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
   border-radius: 16px;
   position: relative;
   width: 61.5%;
}

.media-stay-safe__img::after {
   content: '';
   width: 206px;
   height: 27px;
   position: absolute;
   bottom: -15px;
   left: 20px;
   border-radius: 16px;
   background: rgba(240, 240, 240, 0.49);
   z-index: 2;
}

.stay-safe__content {
   flex: 0 1 50%;
   position: relative;
   z-index: 5;
}

.media-stay-safe__icon {
   position: absolute;
   background-color: #EC5863;
   width: 77px;
   height: 77px;
   border-radius: 30px;
}

.media-stay-safe__icon--1 {
   width: 147px;
   height: 147px;
   top: 0;
   left: 0;
}

.media-stay-safe__icon--2 {
   bottom: 107px;
   right: 38px;
}

.media-stay-safe__icon--3 {
   bottom: 0;
   left: 39px;
}

@media(max-width:767.98px) {
   .stay-safe__container {
      flex-direction: column-reverse;
      padding: 40px 20px 40px 20px;
   }

   .block-text__text {
      max-width: none;
   }

   .stay-safe__media {
      /* flex: 1 1 100%; */
      width: 100%;
   }

   .stay-safe__content {
      margin-bottom: 30px;
   }

   .media-stay-safe__wrapper {
      width: 100%;
      margin: 0 auto;
   }
}

@media(max-width:479.98px) {
   .stay-safe__container {
      padding: 30px 20px 30px 20px;
   }

   .media-stay-safe {
      width: 290px;
   }
}

/* ========================== EXPERTS ================================= */
.experts {}

.experts__container {
   padding: 103px 20px 116px;
}

.experts__statistic {}

.statistic-experts {
   max-width: 654px;
   margin: 0 auto;
   position: relative;
   z-index: 5;
   margin-bottom: 80px;
}

.statistic-experts__list {
   border-radius: 16px;
   background: #FFF;
   box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
   padding: 28px 80px;
   display: flex;
   align-items: center;
   position: relative;
   z-index: 5;

}

.statistic-experts__item {
   flex: 1 1 auto;
   text-align: center;
}

.statistic-experts__value {
   color: #EC5863;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 5.04px;
   margin-bottom: 5px;
}

.statistic-experts__text {
   color: #000;
   font-size: 11px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 4.07px;
   text-transform: uppercase;
}

.experts__items {
   position: absolute;
   width: 100%;
   height: 100%;
   transform: rotate(-30deg);
   border-radius: 30px;
   background: #EC5863;
}

.experts__items--1 {
   border-radius: 16px;
   width: 66px;
   height: 66px;
   left: -3%;
   bottom: -20%;
}

.experts__items--2 {
   width: 97px;
   height: 97px;
   top: -35%;
   left: 33%;
   transform: rotate(105deg);
}

.experts__items--3 {
   width: 128px;
   height: 128px;
   right: -11%;
   top: 0;
}

.experts__body {
   display: flex;
   align-items: center;
}

.experts__content {
   flex: 0 1 50%;
   margin-right: 30px;
   position: relative;
   z-index: 50;
}

.experts__block {}

.experts__media {
   flex: 0 1 50%;
}

.media-experts__video {
   position: relative;
   padding-bottom: 60%;
   object-fit: cover;
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
   overflow: hidden;

}

.media-experts__video iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

@media(max-width:977.98px) {
   .experts__container {
      padding: 80px 20px 80px;
   }
}

@media(max-width:767.98px) {
   .experts__container {
      padding: 60px 20px 60px;
   }

   .statistic-experts__list {
      flex-direction: column;
      gap: 25px;
      padding: 20px 40px;
   }

   .statistic-experts {
      max-width: 454px;
   }

   .statistic-experts__list {
      gap: 20px;
      padding: 20px 20px;
   }

   .experts__items--1 {
      border-radius: 16px;
      width: 66px;
      height: 66px;
      left: -6%;
      bottom: -10%;
   }

   .experts__items--2 {
      width: 97px;
      height: 97px;
      top: -15%;
      left: 37%;
      transform: rotate(105deg);
   }

   .experts__items--3 {
      width: 128px;
      height: 128px;
      right: -11%;
      top: 35%;
   }

   .experts__body {
      flex-direction: column;
      align-items: stretch;
   }

   .experts__content {
      flex: 1 1 100%;
      margin: 0px 0px 30px 0px;
   }
}

@media(max-width:479.98px) {
   .experts__container {
      padding: 40px 20px 40px;
   }
}


/* ===================== HEALTHCARE =========================== */
.healthcare__container {
   padding: 80px 20px 75px;

}

.healthcare__content {
   margin-bottom: 46px;
}

.block-text__title--center {
   text-align: center;
}

.block-text__text {
   max-width: 600px;
   margin: 0 auto;
}

.healthcare__list {
   display: flex;
   column-gap: 72px;
   row-gap: 30px;
   padding: 0 30px;
   position: relative;
}

.wrapper-item-healthcare{
   flex: 0 1 33.333%;
}

.healthcare__item {
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
   padding: 36px 18px;
   text-align: center;
     position: relative;
     z-index: 50;
     transition: transform  0.3s ease 0s;
}
.healthcare__item:hover{
   transform: scale(1.1);
    box-shadow: 0px 4px 18px 0px rgba(221, 105, 17, 0.18);
    cursor: pointer;
}

.item-healthcare__title {
   color: #000;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.3;
   letter-spacing: 1.28px;
   margin-bottom: 4px;
}

.item-healthcare__icon {
   margin-bottom: 58px;
}

.item-healthcare__text {
line-height: 1.3;
letter-spacing: 0.96px;
}
.wrapper-item-healthcare{
   position: relative;
}

.item-healthcare--decor1:before, .item-healthcare--decor1:after, .item-healthcare--decor2::after, .item-healthcare--decor3::after{
content: '';
position: absolute;
transform: rotate(-30deg);
border-radius: 16px;
background: #EC5863;
}

.item-healthcare--decor1:before{
width: 65px;
height: 65px;
bottom: -35px;
left: -20px;
}
.item-healthcare--decor1:after{
width: 96px;
height: 96px;
transform: rotate(105deg);
border-radius: 30px;
right: -51px;
top: 20px;
}

.item-healthcare--decor2::after{
   width: 127.467px;
height: 127.467px;
border-radius: 30px;
bottom: -26px;
right: -73px;
}

.item-healthcare--decor3::after{
width: 65px;
height: 65px;
top: -35px;
right: -20px;
}


@media(max-width: 1082px){
 .healthcare__container{
 max-width: 1072px;
   margin: 0 auto;
    padding: 80px 10px 75px;
 }
}

@media(max-width: 767.98px){
   .healthcare__list{
      flex-direction: column;
   }
   .healthcare__container{
    padding: 40px 20px 40px;
 }
}

/* ========================== FOOTER  ============================== */
.footer {
}
.footer__container {
   padding: 40px 20px;
}
.footer__media {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 56px;
   row-gap: 20px;
}
.media-footer {
}


@media(max-width: 767.98px){
   .footer__container {
   padding: 20px 20px;
}
   .footer__media{
      flex-direction: column;
   }
}
