body {
   font-family: 'Rubik';
   font-size: 12px;
   color: #616161;
}

.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
   position: relative;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1082px;
   margin: 0 auto;
   padding: 0 15px;
}

.button {
   color: #FCFDFE;
   font-family: Raleway;
   font-size: 10px;
   font-weight: 800;
   line-height: 1.2;
   letter-spacing: 1.4px;
   text-transform: uppercase;
   border-radius: 5px;
   background-color: #EC5863;
   padding: 14px 30px;
   transition: background-color 0.3s ease 0s;
}

.button:hover {
   background-color: #b21e28;
}


/* ========================HEADER================================ */
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 50px;
}

.header__container {
   display: flex;
   align-items: center;
   min-height: 116px;
   position: relative;
   z-index: 3;
}

.header__logo {
   position: relative;
   z-index: 5;
}

.menu {
   flex: 1 1 auto;
   display: flex;
   justify-content: flex-end;
}

.menu__list {
   display: flex;
}

.menu__item {
   padding-right: 40px;
}

.menu__link {
   color: #000;
   font-family: "Raleway";
   font-size: 10px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 1.4px;
   text-transform: uppercase;
   position: relative;
}

.menu__link:hover::before {
   content: '';
   position: absolute;
   background: #4285F4;
   width: 100%;
   height: 2px;
   bottom: -6px;
}

.header__button {
   flex: 0 0 250px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
   z-index: 5;
}

.button-blue {
   background-color: #4285F4;
   padding: 12px 31px;
   transition: background-color 0.3s ease 0s;
}

.button-blue:hover {
   background-color: #114291;
}

.icon-menu {
   display: none;
}

@media(max-width:1082px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

@media(max-width:991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }

   .header__button {
      flex: 0 0 170px;
   }

   .menu__item {
      padding-right: 30px;
   }

   .header__container {
      min-height: 80px;
   }
}

@media(max-width:767.98px) {
   [class*="__container"] {
      max-width: none;
   }

   .icon-menu {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 0 0 30px;
      height: 18px;
      justify-content: space-between;
      margin-left: 20px;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: '';
      background: #000;
      height: 2px;
   }

   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 90px 15px 30px 15px;
      transition: left 0.3s ease 0s;
   }

   .menu__body:target {
      left: 0;
   }

   .menu__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .menu__link {
      font-size: 20px;
   }

   .menu__item:not(:last-child) {
      margin-bottom: 25px;
   }
}

@media(max-width:479.98px) {
   .header__logo {
      flex: 0 0 40px;
      overflow: hidden;
   }
}

/* ==================== BLOCK-TEXT ============================= */
.block-text {}

.block-text__title {
   font-size: 44px;
   font-weight: 700;
   line-height: 126%;
   color: #000;
   margin-bottom: 12px;
}

.block-text__title--blue span {
   color: #4285F4;
}

.block-text__text {
   line-height: 138.5%;
   letter-spacing: 0.96px;
   color: #616161;
   margin-bottom: 24px;
   max-width: 370px;
}

.block-text__title span {
   color: #EC5863;
}

/* =================== HERO ======================= */
.hero {
   background: #FAFBFD;
}

.hero__container {
   padding: 160px 15px 50px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   position: relative;
}

.hero__container::after {
   content: "";
   position: absolute;
   width: 100vw;
   height: 100%;
   top: 0;
   left: 75%;
   background-color: #EC5863;
   border-radius: 30px 0 0 30px;
}

.hero__content {
   flex: 0 1 48%;
   position: relative;
   z-index: 3;
   padding: 0px 20px;
}

.hero__block {
   max-width: 410px;
}

.hero__img {
   position: relative;
   z-index: 3;
   flex: 0 1 52%;
}

.hero__img img {
   max-width: 100%;
}

.hero__video {
   flex: 1 1 100%;
   padding: 66px 15px 20px;
}

.video-hero {
   display: inline-flex;
   align-items: center;
   gap: 12px;
}

.body-video-hero__title {
   font-size: 13px;
   color: #B0B0B0;
   line-height: 126%;
   letter-spacing: 1.04px;
   margin-bottom: 5px;
}

.body-video-hero__text {
   font-size: 9px;
   line-height: 126%;
   letter-spacing: 1.485px;
   text-transform: uppercase;
   color: #000;
}

@media(max-width:767.98px) {
   .hero__container {
      padding: 100px 0 40px;
   }

   .hero__container::after {
      display: none;
   }

   .hero__img {
      flex: 1 1 100%;
      text-align: center;
      padding: 30px 15px;
   }

   .hero__block {
      max-width: none;
   }

   .hero__content {
      flex: 1 1 100%;
   }

   .block-text__title {
      font-size: 34px;
   }

   .hero__video {
      padding: 0 15px;
   }
}

/* =======================STAY-SAFE=============================== */
.stay-safe {}

.stay-safe__container {
   display: flex;
   padding: 80px 0px;
   align-items: center;
}

.stay-safe__media {
   flex: 0 1 50%;
   padding-left: 20px;
}

.media-stay-safe__wrapper {
   max-width: 373px;
   text-align: center;
   padding: 56px 0 27px;
   position: relative;
}

.media-stay-safe__img img {
   position: relative;
   z-index: 5;
   max-width: 100%;
}

.media-stay-safe__img {
   display: inline-block;
   box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
   border-radius: 16px;
   position: relative;
   width: 61.5%;
}

.media-stay-safe__img::after {
   content: '';
   width: 206px;
   height: 27px;
   position: absolute;
   bottom: -15px;
   left: 20px;
   border-radius: 16px;
   background: rgba(240, 240, 240, 0.49);
   z-index: 2;
}

.stay-safe__content {
   flex: 0 1 50%;
   position: relative;
   z-index: 5;
}

.media-stay-safe__icon {
   position: absolute;
   background-color: #EC5863;
   width: 77px;
   height: 77px;
   border-radius: 30px;
}

.media-stay-safe__icon--1 {
   width: 147px;
   height: 147px;
   top: 0;
   left: 0;
}

.media-stay-safe__icon--2 {
   bottom: 107px;
   right: 38px;
}

.media-stay-safe__icon--3 {
   bottom: 0;
   left: 39px;
}

@media(max-width:767.98px) {
   .stay-safe__container {
      flex-direction: column-reverse;
      padding: 40px 20px 40px 20px;
   }

   .block-text__text {
      max-width: none;
   }

   .stay-safe__media {
      /* flex: 1 1 100%; */
      width: 100%;
   }

   .stay-safe__content {
      margin-bottom: 30px;
   }

   .media-stay-safe__wrapper {
      width: 100%;
      margin: 0 auto;
   }
}

@media(max-width:479.98px) {
   .stay-safe__container {
      padding: 30px 20px 30px 20px;
   }

   .media-stay-safe {
      width: 290px;
   }
}

/* ========================== EXPERTS ================================= */
.experts {}

.experts__container {
   padding: 103px 20px 116px;
}
.experts-block-text{
   max-width: 363px;
}

.statistic-experts {
   max-width: 654px;
   margin: 0 auto;
   position: relative;
   margin-bottom: 80px;
}

.statistic-experts__body {
   border-radius: 16px;
   background: #FFF;
   box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
   position: relative;
   z-index: 5;
}

.statistic-experts__list {
   padding: 28px 85px;
   display: flex;
   align-items: center;
}

.statistic-experts__item {
   flex: 1 1 auto;
   text-align: center;
}

.statistic-experts__value {
   color: #EC5863;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 5.04px;
   margin-bottom: 5px;
}

.statistic-experts__text {
   color: #000;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 4.07px;
   text-transform: uppercase;
}

.statistic-experts__items {
   position: absolute;
   border-radius: 30px;
   background: #EC5863;
   transform: rotate(-30deg);
}

.statistic-experts__items--1 {
 border-radius: 16px;
   width: 66px;
   height: 66px;
   bottom: -22px;
   left: -21px;
}

.statistic-experts__items--2 {
   transform: rotate(105deg);
   width: 97px;
   height: 97px;
   /* left: 210px;
   top: -51px; */
   left: 33%;
   top: -30%;
}

.statistic-experts__items--3 {
   width: 128px;
   height: 128px;
   right: -64px;
   top: 0;
}

.experts__body{
   display: flex;
   align-items: center;
}

.block-text__title--blue span{
   color: #587EEC;
}
.experts__content{
   flex: 0 1 50%;
    padding: 0px 20px 0px 0px;
}
.experts__video{
   padding: 0px 0px 31% 0px;
   position: relative;
   flex: 0 1 50%;
   border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
overflow: hidden;
}

.experts__video iframe{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media (max-width: 767.98px){
   .experts__container {
   padding: 80px 20px 30px;
}
.statistic-experts__body{
   margin-bottom: 50px;
}
   .experts__body{
   flex-direction: column;
   align-items: stretch;
}
.experts__video{
   padding: 0px 0px 58% 0px;
   position: relative;
   flex: 0 1 50%;
}
.experts__content{
    padding: 0;
    margin-bottom: 30px;
}
.experts-block-text{
   max-width: none;
}
.statistic-experts__list {
   padding: 25px;
}
}

@media (max-width: 479.98px){
   .statistic-experts__list {
   flex-direction: column;
}
.statistic-experts__item:not(:last-child){
   margin-bottom: 15px;
}
.statistic-experts__items--2 {
   /* left: 210px;
   top: -51px; */
   left: 33%;
   top: -18%;
}
.statistic-experts__list {
   padding: 15px;
}
}
